

/*body {
	background-color:#999999;
  color:white;
  font-size:20px;
  border-radius:20px;
  font-family:calibri;
}*/

/*h1 {
    color:white;
    font-family:"calibri";
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}*/

#event {
    /*background-color:#009999;*/
    color:black;
    font-family:"calibri";
    text-align:center;
    width:80%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    
}

#createnew {
    /*color:white;*/
    font-family:"calibri";
    text-align:center;
    width:80%;
    height:80%;
    margin-left:auto;
    margin-right:auto;
}

#questionAndAnswer {
	 background-color:#009999;
   text-align:center;
   width:60%;
   margin-left:auto;
  margin-right:auto;
  border-radius:20px;
  border-color:black;
  border-width:5px;
}

button {
	border-radius:20px;
	width:20%;
	height:10%;
	font-size:16px;

}